<section class="py-16 bg-blue-100" data-controller="counter">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl font-bold mb-12">Get Started in 30 Seconds!</h2>
    <a class="bg-blue-600 text-white px-4 py-3 rounded-md hover:bg-blue-700" href="<%= url_for new_register_path %>">Sign Up Now</a>
  </div>
</section>